/* ========= General Styles ========== */

/*html
{background: black url(../images/grid.png) no-repeat top left;}*/


body {
	color: black;
	font: 16px 'Times New Roman', Georgia, serif;
	line-height: 20px;	
}	


.bolder
{font-weight: bold;}

#menu ul, #social, #portfolio, #footer, #contact 
{display: none;}

#name h1.author_name
{
margin: 0;
font: bold 36px  Arial, sans-serif;}

#name h2.occupation
{margin: 0;
font: bold italic 18px  Arial, sans-serif;}


.container div h2
{
margin: 40px 0 10px 0;
font: bold 28px  Arial, sans-serif;}

.container div h3
{
margin: 20px 0 5px 0;
color: #d2d2d2;
font: bold 18px  Arial, sans-serif;}

.container .subsection
{margin: 0 0 40px 0;}

#about 
{margin: 0;
float: none;
position: absolute;
top: 75px;
left: 350px;
width: 350px;}

#about h3
{margin: 20px 0 -5px 0;}

#about #metadata ul
{list-style: none;
margin: 15px 0 0 -40px;
}

#about #metadata ul li
{margin: 0 0 7px 0;}

.subsection span.date
{font: italic 14px 'Times New Roman', Georgia, serif;
position: relative;
top: 5px;
left: 0px;
padding: 10px 0 20px 0;
margin: 0 0 -40px 0;}

#skills .subsection ul li p.skill
{font-weight: bold;}

.one_star, .two_stars, .three_stars, .four_stars, five_stars
{background: none;
}

#skills .subsection ul li
{float: none;
margin: 0 0 7px 0;
}

#skills .subsection ul li p
{
display: inline;
}